<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/general :: head"></div>

<body>
	<header>
		<div th:replace="fragments/general :: header(activeTab='user')"></div>
	</header>

	<div class="container page-body">
		<div class="row">
			<div class="lg">
				<h3>User List</h3>
			</div>
		</div>

		<div class="row">
			<div class="col-lg">
				<table class="table table-bordered table-striped">
					<thead class="thead-dark">
						<tr>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Email</th>
							<th>User Type</th>
							<th>Action</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="user : ${users}">
							<td th:text="${user.firstName}" />
							<td th:text="${user.lastName}" />
							<td th:text="${user.email}" />
							<td th:text="${user.userType}" />
							<td>
								<a th:href="@{/user/updateForm(userId=${user.id})}" class="btn btn-info btn-sm">
									Update
								</a>
								<a th:href="@{/user/delete(userId=${user.id})}" class="btn btn-danger btn-sm"
									onclick="if (!(confirm('Are you sure you want to delete this user?'))) return false">
									Delete
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<!-- Add a button -->
		<div class="row text-right">
			<div class="col-lg">
				<a th:href="@{/user/createForm}" class="btn btn-primary btn-sm mb-3">Add User </a>
			</div>
		</div>
	</div>
</body>

</html>